.center {
  font-family: "Jost";
  margin-top: 15%;
  margin-left: 15%;
  text-align: left;
}
label {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.info {
  margin-left: 0.3vw;
  text-align: left;
}
.resume {
  font-family: "Jost";
  border-style: solid;
  border-width: 4px;
  font-size: 600%;
}
.container {
  display: flex;
}
html,
body {
  height: 100%;
}

a:link,
a:visited {
  background-color: lightgray;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: lightgray;
}

/* the interesting bit */

.label {
  pointer-events: none;
  display: flex;
  align-items: center;
}

.switch,
.input:checked + .label .left,
.input:not(:checked) + .label .right {
  pointer-events: all;
  cursor: pointer;
}

/* most of the stuff below is the same as the W3Schools stuff,
   but modified a bit to reflect changed HTML structure */

.input {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .label .slider {
  background-color: #2196f3;
}

input:focus + .label .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .label .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* styling to make it look like your screenshot */

.left,
.right {
  margin: 0 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  color: black;
}
